sda

# Imports

## Libraries & Packages

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
!dir "datasource/"

 Volume in drive D is Stuff
 Volume Serial Number is 1E0A-0491

 Directory of D:\Jupyter Notebook\ML & Analysis\Movies & TV Shows\datasource

02/19/2024  05:31 PM    <DIR>          .
02/19/2024  11:37 PM    <DIR>          ..
10/12/2021  02:55 PM         3,972,416 amazon_prime_titles.csv
11/29/2021  02:25 AM           383,571 disney_plus_titles.csv
10/25/2021  03:32 AM         1,110,838 hulu_titles.csv
02/19/2024  04:48 PM       261,662,594 name.basics.tsv.gz
09/27/2021  04:44 AM         3,399,671 netflix_titles.csv
02/19/2024  04:52 PM       327,701,428 title.akas.tsv.gz
02/19/2024  04:52 PM       185,146,608 title.basics.tsv.gz
02/19/2024  04:51 PM         7,060,502 title.ratings.tsv.gz
               8 File(s)    790,437,628 bytes
               2 Dir(s)  999,150,612,480 bytes free

### Name/Basics
- nconst (string) - alphanumeric unique identifier of the name/person
- primaryName (string)– name by which the person is most often credited
- birthYear – in YYYY format
- deathYear – in YYYY format if applicable, else '\N'
- primaryProfession (array of strings)– the top-3 professions of the person
- knownForTitles (array of tconsts) – titles the person is known for

In [3]:
imdb_namebasics = pd.read_table("datasource/"+ "name.basics.tsv.gz", compression="gzip")

# Replacing Not applicable values with null
imdb_namebasics.replace("\\N", np.nan, inplace=True)

# Removing no identified primaryProfession and knowForTitles
imdb_namebasics = \
imdb_namebasics[~(imdb_namebasics["primaryProfession"].isnull() | imdb_namebasics["knownForTitles"].isnull())].reset_index(drop=True)

In [4]:
imdb_namebasics

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0027125,tt0053137,tt0050419,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0037382,tt0038355,tt0075213"
2,nm0000003,Brigitte Bardot,1934,NaN,"actress,soundtrack,music_department","tt0049189,tt0054452,tt0056404,tt0057345"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0077975,tt0078723,tt0080455,tt0072562"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0083922,tt0069467,tt0050986"
...,...,...,...,...,...,...
10213243,nm9993709,Lu Bevins,NaN,NaN,"producer,director,writer","tt17717854,tt11772904,tt11697102,tt11772812"
10213244,nm9993713,Sambit Mishra,NaN,NaN,"writer,producer","tt15134202,tt20319332,tt10709066,tt27191658"
10213245,nm9993714,Romeo del Rosario,NaN,NaN,"animation_department,art_department","tt11657662,tt14069590,tt2455546"
10213246,nm9993717,Harikrishnan Rajan,NaN,NaN,cinematographer,tt8736744
10213247,nm9993718,Aayush Nair,NaN,NaN,cinematographer,tt8736744

#### Text to Columns: primaryProfession

In [5]:
imdb_namebasics = \
imdb_namebasics.drop(columns=["primaryProfession"]).join(imdb_namebasics['primaryProfession'].str.split(',',expand=True).add_prefix('primaryProfession_').fillna(np.nan))

#### Text to Columns: knownForTitles

In [7]:
imdb_namebasics = \
imdb_namebasics.drop(columns=["knownForTitles"]).join(imdb_namebasics['knownForTitles'].str.split(',',expand=True).add_prefix('knownForTitles_').fillna(np.nan))

In [8]:
imdb_namebasics

,nconst,primaryName,birthYear,deathYear,primaryProfession_0,primaryProfession_1,primaryProfession_2,knownForTitles_0,knownForTitles_1,knownForTitles_2,knownForTitles_3,knownForTitles_4,knownForTitles_5,knownForTitles_6
0,nm0000001,Fred Astaire,1899,1987,soundtrack,actor,miscellaneous,tt0027125,tt0053137,tt0050419,tt0072308,NaN,NaN,NaN
1,nm0000002,Lauren Bacall,1924,2014,actress,soundtrack,NaN,tt0117057,tt0037382,tt0038355,tt0075213,NaN,NaN,NaN
2,nm0000003,Brigitte Bardot,1934,NaN,actress,soundtrack,music_department,tt0049189,tt0054452,tt0056404,tt0057345,NaN,NaN,NaN
3,nm0000004,John Belushi,1949,1982,actor,soundtrack,writer,tt0077975,tt0078723,tt0080455,tt0072562,NaN,NaN,NaN
4,nm0000005,Ingmar Bergman,1918,2007,writer,director,actor,tt0050976,tt0083922,tt0069467,tt0050986,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10213243,nm9993709,Lu Bevins,NaN,NaN,producer,director,writer,tt17717854,tt11772904,tt11697102,tt11772812,NaN,NaN,NaN
10213244,nm9993713,Sambit Mishra,NaN,NaN,writer,producer,NaN,tt15134202,tt20319332,tt10709066,tt27191658,NaN,NaN,NaN
10213245,nm9993714,Romeo del Rosario,NaN,NaN,animation_department,art_department,NaN,tt11657662,tt14069590,tt2455546,NaN,NaN,NaN,NaN
10213246,nm9993717,Harikrishnan Rajan,NaN,NaN,cinematographer,NaN,NaN,tt8736744,NaN,NaN,NaN,NaN,NaN,NaN
10213247,nm9993718,Aayush Nair,NaN,NaN,cinematographer,NaN,NaN,tt8736744,NaN,NaN,NaN,NaN,NaN,NaN

To-Do:
- Melt Primary Profession
- KnownforTitles